body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: green;
}

main {
  flex-grow: 1;
}

.object-fit {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.object-fit-upgrade {
  height: 30px;
  width: 100%;
  object-fit:scale-down;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.select {
  user-select: none;
}